
.card {
  border-radius: 20px;
  padding: 10px;
  padding: 30px;
  position: relative;
  -webkit-box-shadow: 0 4px 18px rgba(26, 26, 26, 0.1);
          box-shadow: 0 4px 18px rgba(26, 26, 26, 0.1);
}
.card .img-holder {
  width: 100%;
  height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 30px;
}
.card .img-holder img {
  height: 100%;
  max-width: 100%;
}
.card h3 {
  color: black;
  font-size: 20px;
  margin-bottom: 9px;
}
.card p {
  color: rgba(0, 0, 0, 0.623);
  line-height: 1.2;
  margin-bottom: 10px;
}
.card a,
.card a:visited,
.card a:hover,
.card a:active {
  text-decoration: none;
}
.card span {
  margin-bottom: 60px;
  display: inline-block;
  color: black;
}
.card button {
  display: block;
  padding: 6px 10px;
  border-radius: 20px;
  font-size: 15px;
  background-color: none;
  position: absolute;
  bottom: 30px;
}