
.shop {
  max-width: 1600px;
  margin: 0 auto;
}
.shop .filter-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 337px;
  margin: 50px auto 100px;
  padding: 10px;
  border-radius: 30px;
  -webkit-box-shadow: 0 4px 18px rgba(26, 26, 26, 0.1);
          box-shadow: 0 4px 18px rgba(26, 26, 26, 0.1);
}
.shop .filter-section input {
  border: none;
  border-right: 1px solid black;
  border-radius: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
}
.shop .filter-section select {
  border: none;
  width: 50px;
  background-color: transparent;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}
.shop .product-holder {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
  gap: 50px;
  padding: 20px 100px;
}
@media (max-width: 858px) {
  .shop .product-holder {
    grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));
    padding: 20px 50px;
  }
}
@media (max-width: 375px) {
  .shop .product-holder {
    padding: 20px;
  }
}