.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    max-width: 1600px;
    margin: 0 auto 60px;

    h2 {
        font-size: 20px;
    }

    .links {
        display: flex;
        align-items: center;
        color: black;

        .shop {
            margin-right: 80px;
            color: black;
            font-size: 18px;
        }

        .cart-icon {
            color: black;
            font-size: 18px;
        }

        a,
        a:visited,
        a:hover,
        a:active {
            text-decoration: none;
        }

    }
}